body {
    
    margin: 3px;
    
    background-color:#F7A1B4 ;
    color: #2B061E;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}



.bodyLinks {
    margin: 10px;
    display: block;
}

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #FFEED6;
    margin-bottom: 20px;
    margin-left: 20px;
}

.links, .bodyLinks {
    color: #2B061E;
     
}
.name {
    font-size: 70px;
    
    text-decoration: none;
    color:#FFEED6;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
    

}

.emailimage {
    display: block;
    margin: 5px auto;
    padding-top: 8px;
    
}


#mainDiv {
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    perspective: 800px;
    position: relative;
    right: 29%;
    top: 150px;
    
}

#boxDiv {
    width: 200px;   
    transform-style: preserve-3d; 
    animation: rotate 15s linear infinite;
}

#boxDiv div {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.7;
    color: white;
}

#front {
    transform: translateZ(100px);
    background: black;
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;

}


#back {
    transform: rotateY(180deg) translateZ(100px);
    background: #101010;
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;    
}

#left {
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;
    background: black;
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;    
}

#right {
    transform: rotateY(90deg) translateX(100px);
    transform-origin: right;
    background: #101010;  
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;    
}

#top {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top;
    background: black;
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;    
}

#bottom {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom;
    background: #101010; 
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;
}

@keyframes rotate {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}


.shadow {
    width:200px;
    height:200px;
    background: rgba(43,6,30,0.5);
    box-shadow: 0 0 50px 50px rgba(43,6,30,0.5);
    -webkit-transform: rotateX(90deg) translateZ(-200px) rotateY(180deg) translateX(0px);

}

.images {
    width: 1000px;
    position: relative;
    height: 100%;
}

#mushroomRing {
    
    width: 400px;
    margin: auto;
   z-index: -8;
    position: relative;
    top: 570px;
    
    
}
#flowers {
    
   z-index: -9;
    position: relative;
    top: 450px;
    left: -250px;
    
    
}

#flowers2 {
    
    z-index: -9;
    position: relative;
    top: 500px;
    left: -300px;
    
    
    
}


