body {
    
    margin: 3px;
    background-color:#F7A1B4 ;
    color: #2B061E;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
    overflow: hidden;
}

.content {
    font-size: 50px;
    float:left;
    margin-top: 400px;
    margin-left: 15px;
}


.bodyLinks {
    margin: 0px;
    display: block;
}

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #FFEED6;
    margin-bottom: 15px;
    margin-left: 15px;
    
}

.links, .bodyLinks {
    color: #FFEED6;
     
}
.name {
    font-size: 60px;
    text-decoration: none;
    color:#FFEED6;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0 auto;
}

#mainDiv {
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    perspective: 800px;
    position: absolute;
    left: 90px;
    top: 770px;
}

#boxDiv {
    width: 200px;   
    transform-style: preserve-3d; 
    animation: rotate 15s linear infinite;
}

#boxDiv div {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.7;
    color: white;
}

#front {
    transform: translateZ(100px);
    background: black;
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;

}


#back {
    transform: rotateY(180deg) translateZ(100px);
    background: #101010;
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;    
}

#left {
    transform: rotateY(-90deg) translateX(-100px);
    transform-origin: left;
    background: black;
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;    
}

#right {
    transform: rotateY(90deg) translateX(100px);
    transform-origin: right;
    background: #101010;  
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;    
}

#top {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top;
    background: black;
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;    
}

#bottom {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom;
    background: #101010; 
    background-image: url(../images/014a49cab72030b42fcc86dc6b580346.jpg);
    background-position: center;
    background-size: cover;
}

@keyframes rotate {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}


.shadow {
    width:200px;
    height:200px;
    background: rgba(43,6,30,0.5);
    box-shadow: 0 0 50px 50px rgba(43,6,30,0.5);
    -webkit-transform: rotateX(90deg) translateZ(-200px) rotateY(180deg) translateX(0px);

}

.images {
    width: 1000px;
    position:fixed;
    bottom: 0;
    left: 0;
    
    
}

#mushroomRing {
    width: 400px;
    margin: auto;
    z-index: -8;
    position: relative;
    top: 920px;
    left: -150px;
}
#flowers {
    z-index: -9;
    position: relative;
    top: 800px;
    left: -510px;
}

#flowers2 {
    z-index: -9;
    position: relative;
    top: 820px;
    left: -450px;
}

#heart1 {
    z-index: -9;
    position: relative;
    top: 654px;
    left: -83px;
}
#heart2 {
    z-index: -9;
    position: relative;
    top: 510px;
    left: 286px;
}
#cat {
    
    z-index: -9;
    position: fixed;
    top: -10px;
    left: 700px;
    
    
    
}

#roses {
    z-index: -8;
    position: relative;
    top: 365px;
    left: 40px;
}
#window {
    z-index: -10;
    position: relative;
    top: 410px;
    left: 20px;
}

#scene {
    z-index: -9;
    position: relative;
    top: -190px;
    left: -500px;
}

#skullbug {
    z-index: -10;
    position: relative;
    top: 239px;
    left: 588px;
}

#catwalking {
    left: -295px;
    top: 400px;
    position: relative;
}

#angel {
  position: relative;
  left: -200px;
  top: 15px;
}

#hand {
    top: -278px;
    position: relative;
    left: 30px;
}

#bug {
    position: relative;
    left: 257px;
    top: 288px;
}

#butterfly {
    position: relative;
    left: -21px;
    top: -310px;
}

#door {
    position: relative;
    left: 476px;
    top: -48px;
    width: 400px;
    z-index: -11;
}
#star {
    position: relative;
    left: -574px;
    top: 48px;
}
#star2 {
    position: relative;
    left: -393px;
    top: -140px;
}
#star3 {
    position: relative;
    left: 345px;
    top: -124px;
}
#halo {
    position: relative;
    left: 150px;
    top: -334px;
}